.hidden-tool{
    position: fixed;
    top: 5%;
    right: -20%;
    width: 20%;
    height: 90%;

    border-radius: 0.25em;
    border-style: solid;
    border-width: thin;
    border-color: grey;
}
.btn-tool{
    position: fixed;
    top: 5%;
    right: 0;
    width: 40px;
    float: right;

    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    padding-left: 13px;
    background-color: #DFDFDF;
}
.btn-tool-open{
    position: fixed;
    top: 5%;
    right: 19.6%;
    width: 40px;
    float: right;

    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    padding-left: 13px;
    background-color: #DFDFDF;
}
.open-tool{
    position: fixed;
    top: 5%;
    right: -2px;
    width: 20%;
    height: 90%;
    border-radius: 0.25em;
    border-style: solid;
    border-width: thin;
    border-color: grey;
}

.border-text {
    border-style: solid;
    border-width: thin;
    border-color: black;
}
.border-sq-text {
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: thin;
    border-color: green;
}

.hidden-filed{
    display: none;
}

.border-fill {
    border-style: solid;
    border-width: thin;
    border-color: darkgrey;
}
.border-s2{
    border-style: solid;
    border-width: thin;
    border-color: darkgrey;
    border-radius: 0.5em;
}


.cursor-hand{
    cursor: pointer;
}

#menu_top_design{
    padding-top: 212px;
}

.resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-style: solid;
    border-width: thin;
    z-index: 2;
}

.resizer.nw {
    cursor: nw-resize;
    top: -1px;
    left: -1px;
}

.resizer.ne {
    cursor: ne-resize;
    top: -1px;
    right: -1px;
}

.resizer.sw {
    cursor: sw-resize;
    top: -1px;
    right: -1px;
}

.close-tag {
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -1px;
    right: -1px;
    z-index: 2;
}


